body
{
    background-color: rgb(0,100,150);
    margin: 0;
    font-family: monospace;
    user-select: none;
}

#pasek-gorny
{
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    border-bottom: solid 1px white;
    display: inline-block;
    margin-bottom: 50px;
}

#title, #menu
{
    float: left;
}

#title h1
{
    padding: 0 10px;
    font-size: 40px;
    margin: 0;
}


ul
{
    margin: 0;
}

li
{
    float: left;
    list-style-type: none;
    padding: 6px 15px;
    font-size: 30px;
    transition: 1s background-color ease-in-out, 1s text-shadow, 1s box-shadow;
}

li:hover
{
    background-color: white;
    text-shadow: 0 0 2.5px black;
    box-shadow: inset 0 0 2.5px 0px black;
}

a, a:hover, a:visited, a:active
{
    color: black;
}

footer
{
    position: absolute;
    bottom: 0;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    border-top: solid 1px white;
    display: inline-block;
    text-align: center;
    font-size: 25px;
}

#container
{
    background-color: white;
    width: 70%;
    margin: 0 auto;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    padding: 10px;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#hello
{
    width: 100%;
    background-color: rgb(25, 137, 194);
    text-align: center;
    margin-bottom: 60px;
}

#hello h1
{
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
}

button#zmien-imie
{
    height: 25px;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    text-align: center;
    border-radius: 6px;
}

form
{
    text-align: center;
}

form h3
{
    display: inline;
    font-size: 30px;
}

form input
{
    margin-bottom: 20px;
    text-align: right;
    border-width: 0 0 1px 0;
    border-color: black;
    margin-right: 6px;
    font-size: 30px;
}

button#oblicz
{
    display: block;
    margin: 0 auto;
    padding: 10px 40px;
    font-size: 24px;
    border-radius: 6px;
}

#BMI
{
    text-align: center;
    opacity: 0;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto 40px auto;
    box-shadow: 0 0 3px 0 black;
    padding: 5px 0;
    transition: all 1s;
    font-size: 16px;
}

#BMI h2
{
    margin: 5px 0;
}

#BMI-ryzykoChoroby h3
{
    margin: 0;
}

#BMI-wartosc
{
    font-size: 24px;
    box-shadow: 0 0 3px 0 black;
}

#o-stronie
{
    opacity: 0;
    background-color: white;
    width: 70%;
    margin: 50px auto 0 auto;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

@media (max-width: 1200px)
{
    #hello h1
    {
        font-size: 48px;
    }
    button#zmien-imie
    {
        height: 56px;
        width: 56px;
        font-size: 24px;
    }    
    form h3, form input
    {
        font-size: 40px;
    }
    button#oblicz
    {
        font-size: 40px;
    }
    #BMI
    {
        font-size: 32px;
    }
    #BMI-wartosc
    {
        font-size: 38px;
    }
    footer
    {
        font-size: 32px;
    }
    #o-stronie
    {
        font-size: 20px;
    }
}