*
{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body
{
    background-color: rgb(230,230,230);
}

#belkaGora
{
    background-color: rgb(10, 73, 193);
    color: white;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 15px 0px black;
    z-index: 10;
}

.tytul
{
    transition: text-shadow .5s ease;
    margin-left: 100px;
}

.tytul strong
{
    font-size: 1.5rem;
    margin-right: 20px;
    color: white;
}

.tytul p
{
    color: rgb(200,200,200);
}

.tytul:hover
{
    cursor: pointer;
    text-shadow: 0 0 4px black;
}

.menu ul
{
    list-style-type: none;
    margin-right: 100px;
}

.menu ul>li
{
    float: left;
    margin: 0 15px;
    position: relative;
}

.menu ul>li:hover
{
    cursor: pointer;
}

.menu ul>li:before 
{
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -3px;
  left: 0;
  background-color: rgba(255,255,255);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.menu ul>li:hover:before 
{
    visibility: visible;
    width: 100%;
}

#logo
{
    background-image: url("baner.png");
    background-position: center;
    width: 100%;
    max-width: 1200px;
    height: 20rem;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    top: 8rem;
    animation: logoON 1s;
    margin-bottom: 12rem;
}

@keyframes logoON
{
    0% {top: -400px;}
    100% {top: 8rem;}
}

#nowePosty
{
    position: relative;
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: pokaz 2s;
	flex-wrap: wrap;
}

@keyframes pokaz
{
    0% {opacity: 0;}
    50% {opacity: 0;}
    75% {opacity: 1;}
    100% {opacity: 1;}
}

#nowePosty .post
{
    width: 350px;
    height: 350px;
	max-width:29%;
	box-sizing: border-box;
    border: 1px solid rgb(200,200,200);
    border-top-width: 3px;
    background-color: white;
    opacity: 0.8;
    transition: transform .5s ease, box-shadow .5s ease, opacity .5s ease;
    text-align: center;
    padding: 10px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#nowePosty .post:nth-child(1)
{
    width: 475px;
    height: 475px;
	max-width:40%;
	box-sizing: border-box;
    order: 2;
    border-color: rgba(84, 168, 252,0.5);
    box-shadow: 0 0 5px -2px;
    opacity: 1;
}

#nowePosty .post:nth-child(2)
{
    order: 1;
}

#nowePosty .post:nth-child(3)
{
    order: 3;
}

#nowePosty .post:hover
{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px -3px black;
    opacity: 1;
    z-index: 5;
}

#nowePosty .post img
{
    height: 60%;
    box-shadow: 0 0 5px -0 gray;
    object-fit: cover;
	margin-bottom: 5px;
}

#nowePosty .post:nth-child(1) h3
{
	font-weight: bold;
    font-size: 1.15rem;
}

#nowePosty .post h3
{
	font-weight: normal;
    font-size: 1rem;
    color: rgb(8, 117, 226);
}

#nowePosty .post h4
{
    font-size: 0.9rem;
    color: rgb(109, 109, 109)
}

hr
{
	width: 100%;
    max-width: 1400px;
    margin: 50px auto;
    border-top: 2px dashed ;
    opacity: 0.8;
    clear: both;
}

#RaportyAnalizy
{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#RaportyAnalizy h2
{
    font-size: 2.5rem;
    margin-bottom: 25px;
    text-align: left;
}

#Raporty
{
    width: 62%;
    float: left;
}

#Analizy
{
    width: 36%;
    float: right;
}

#RaportyFlex, #AnalizyFlex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postRaporty
{
    width: 32.5%;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid rgba(102, 0, 0, 0.5);
	border-top-width: 3px;
	border-top-color: rgba(102, 0, 0, 0.8);
    background-color: white;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    text-align: center;
    padding: 5px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 20px 0;
}

.postRaporty:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 5;
	border-top-color: rgba(102, 0, 0, 1);
}

.postRaporty img
{
    height: 55%;
    margin-bottom: 5px;
    box-shadow: 0 0 5px -0 gray;
    object-fit: cover;
}

.postRaporty h3
{
    font-size: 1.1rem;
    color: maroon;
}

.postRaporty h4
{
    font-size: 0.9rem;
    color: rgb(109, 109, 109)
}

.postAnalizy
{
    width: 49%;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid rgb(170, 170, 170);
	border-top-width: 3px;
	border-top-color: rgba(39, 39, 39,0.8);
    background-color: white;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    text-align: center;
    padding: 5px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 20px 0;
}

.postAnalizy:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 5;
	border-top-color: rgb(39, 39, 39);
}

.postAnalizy img
{
    height: 55%;
    margin-bottom: 5px;
	box-shadow: 0 0 5px -0 gray;
    object-fit: cover;
}

.postAnalizy h3
{
    font-size: 1.1rem;
    color: rgb(39, 39, 39);
}

.postAnalizy h4
{
    font-size: 0.9rem;
    color: rgb(109, 109, 109)
}

#Raporty button
{
    margin-top: 25px;
    width: 33%;
    box-sizing: border-box;
    border: 2px solid maroon;
    color: maroon;
    background-color: white;
    outline: none;
    height: 50px;
    transition: background-color .5s ease, color .5s ease;
	font-weight: bold;
}

#Raporty button:hover
{
    color: white;
    background-color: maroon;
    cursor: pointer;
}

#Analizy button
{
    margin-top: 25px;
    width: 33%;
    box-sizing: border-box;
    border: 2px solid rgb(39, 39, 39);
    color: rgb(39, 39, 39);
    background-color: white;
    outline: none;
    height: 50px;
    transition: background-color .5s ease, color .5s ease;
	font-weight: bold;
}

#Analizy button:hover
{
    color: white;
    background-color: rgb(39, 39, 39);
    cursor: pointer;
}

#Ikony
{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#Ikony article
{
    width: 300px;
    border: 1px solid rgb(200,200,200);
    border-top-width: 3px;
    background-color: white;
    height: 300px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
}

#Ikony article h2
{   
    font-size: 2.25rem;
    margin-top: 25px;
}

#Ikony article img
{
    height: 150px;
}

#Ikony article:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.1);
}

#Ikony article:nth-child(1):hover
{
    border-color: goldenrod;
}

#Ikony article:nth-child(2):hover
{
    border-color: indianred;
}

#Ikony article:nth-child(3):hover
{
    border-color: deepskyblue;
}

#DzienBezpieczenstwa
{
	width: 100%;
    max-width: 1200px;
	box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    padding: 50px 0;
}

#DzienBezpieczenstwa h1
{
    font-size: 3rem;
    margin-bottom: 50px;
}

#statystykaFlex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.statystyka
{
    width: 350px;
}

.statystyka h2
{
    font-size: 4rem;
    margin: 10px 0;
    font-weight: normal;
}

.statystyka img
{
    height: 100px;
}

#SzkoleniaBezpieczenstwo
{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#SzkoleniaBezpieczenstwo h2
{
    font-size: 2.5rem;
    margin-bottom: 25px;
    text-align: left;
}

#Szkolenia
{
    width: 36%;
    float: left;
}

#Bezpieczenstwo
{
    width: 62%;
    float: right;
}

#Szkolenia ul
{
    list-style-type: none;
}


#Szkolenia ul>li
{
    border: 1px solid rgb(10, 92, 193);
    border-top-width: 3px;
    background-color: white;
    color: rgb(10, 92, 193);
    padding: 9px 0;
    margin: 7px 0;
    transition: background-color .5s ease, color .5s ease, box-shadow .5s ease, text-shadow .5s ease;
}

#Szkolenia ul>li:first-child
{
    border: 1px solid rgb(10, 92, 193);
    border-top-width: 3px;
    background-color: rgb(0, 82, 152);
    color: white;
}

#Szkolenia ul>li:hover
{
    background-color: rgba(10, 92, 193,0.75);
    color: white;
    cursor: pointer;
    box-shadow: inset 0 0 5px 0 black;
    text-shadow: 0 0 3px black;
}

#Szkolenia ul>li:first-child:hover
{
    cursor: default;
    background-color: rgb(0, 82, 152);
    text-shadow: none;
}

#Szkolenia ul>li>ol
{
    list-style-type: none;
}

#Szkolenia ul>li>ol>li
{
    border: 1px solid rgb(10, 92, 193);
    border-top-width: 3px;
    background-color: white;
    color: rgb(10, 92, 193);
    padding: 9px 0;
    margin: 7px 3px;
    transition: background-color .5s ease, color .5s ease, box-shadow .5s ease, text-shadow .5s ease;
}

#Szkolenia ul>li>ol>li:hover
{
    background-color: rgb(10, 92, 220);
    color: white;
    cursor: pointer;
    box-shadow: inset 0 0 5px 0 black;
    text-shadow: 0 0 3px black;
}

#BezpieczenstwoFlex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postBezpieczenstwo
{
    width: 49%;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid rgba(10, 92, 193, 0.5);
	border-top-width: 3px;
	border-top-color: rgba(10, 92, 193, 0.8);
    background-color: white;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    text-align: center;
    padding: 5px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 20px 0;
}

.postBezpieczenstwo:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 5;
	border-top-color: rgb(10, 92, 193);
}

.postBezpieczenstwo h3
{
    font-size: 1.1rem;
    color: rgba(10, 92, 193, 1);
}

.postBezpieczenstwo h4
{
    font-size: 0.9rem;
    color: rgb(109, 109, 109)
}

.postBezpieczenstwo img
{
    height: 65%;
    margin-bottom: 5px;
	box-shadow: 0 0 5px -0 gray;
    object-fit: cover;
}

#TurystykaMiedzynarodowa
{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#TurystykaMiedzynarodowa h2
{
    font-size: 2.5rem;
    margin-bottom: 25px;
}

#TurystykaMiedzynarodowaPosty
{
    width: 73%;
    float: left;
}

#TurystykaMiedzynarodowaPostyFlex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postTurystykaMiedzynarodowa
{
    width: 32.5%;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid rgba(0, 128, 0, 0.5);
	border-top-width: 3px;
	border-top-color: rgba(0, 128, 0, 0.8);
    background-color: white;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    text-align: center;
    padding: 5px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 20px 0;
}

.postTurystykaMiedzynarodowa:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 5;
	border-top-color: rgb(0, 128, 0);
}

.postTurystykaMiedzynarodowa img
{
    height: 55%;
    margin-bottom: 5px;
	box-shadow: 0 0 5px -0 gray;
    object-fit: cover;
}

.postTurystykaMiedzynarodowa h3
{
    font-size: 1.1rem;
    color: rgb(0, 128, 0);;
}

.postTurystykaMiedzynarodowa h4
{
    font-size: 0.9rem;
    color: rgb(109, 109, 109)
}


#TurystykaIkony
{
    width: 25%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#TurystykaIkony article
{
    border: 1px solid rgb(200,200,200);
    border-top-width: 3px;
    background-color: white;
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    margin: 0 0 20px 0;
}

#TurystykaIkony article h2
{   
    font-size: 2.25rem;
    margin-top: 25px;
}

#TurystykaIkony article img
{
    height: 150px;
}

#TurystykaIkony article:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    border-color: rgb(0,128,0);
}

#TurystykaMiedzynarodowa button
{
    margin-top: 25px;
    width: 33%;
    box-sizing: border-box;
    border: 2px solid rgb(0,128,0);
    color: rgb(0,128,0);
    background-color: white;
    outline: none;
    height: 50px;
    transition: background-color .5s ease, color .5s ease;
    font-weight: bold;
}

#TurystykaMiedzynarodowa button:hover
{
    color: white;
    background-color: rgb(0,128,0);
    cursor: pointer;
}

#TurystykaPolska
{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#TurystykaPolska h2
{
    font-size: 2.5rem;
    margin-bottom: 25px;
}

#TurystykaPolskaFlex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postTurystykaPolska
{
    width: 32.5%;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid rgba(0, 128, 0, 0.5);
	border-top-width: 3px;
	border-top-color: rgba(0, 128, 0, 0.8);
    background-color: white;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    text-align: center;
    padding: 5px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 20px 0;
}

.postTurystykaPolska:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 5;
	border-top-color: rgb(0, 128, 0);
}

.postTurystykaPolska img
{
    height: 70%;
    object-fit: cover;
    margin-bottom: 5px;
	box-shadow: 0 0 5px -0 gray;
}

.postTurystykaPolska h3
{
    font-size: 1.1rem;
    color: rgb(0, 128, 0);
}

.postTurystykaPolska h4
{
    font-size: 0.9rem;
    color: rgb(109, 109, 109)
}

#TurystykaPolska button
{
    margin-top: 25px;
    width: 33%;
    box-sizing: border-box;
    border: 2px solid rgb(0,128,0);
    color: rgb(0,128,0);
    background-color: white;
    outline: none;
    height: 50px;
    transition: background-color .5s ease, color .5s ease;
    font-weight: bold;
}

#TurystykaPolska button:hover
{
    color: white;
    background-color: rgb(0,128,0);
    cursor: pointer;
}


#Media
{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#Media h2
{
    font-size: 2.5rem;
    margin-bottom: 25px;
}

#MediaONas
{
    width: 73%;
    float: left;
}

#Facebook
{
    width: 25%;
    float: right;
}

#MediaONasFlex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postMedia
{
    width: 32.5%;
    box-sizing: border-box;
    height: 300px;
    border: 1px solid rgba(10, 73, 193, 0.5);
	border-top-width: 3px;
	border-top-color: rgba(10, 73, 193, 0.8);
    background-color: white;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    text-align: center;
    padding: 5px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 20px 0;
}

.postMedia:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 5;
	border-top-color: rgb(10, 73, 193);
}

.postMedia div
{
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: 5px;
}

.postMedia:nth-child(1) div
{
    background-image: url('img/radioplus.png');
}

.postMedia:nth-child(2) div
{
    background-image: url('img/hipoalergiczni.png');
    background-size: 150px;
}

.postMedia:nth-child(3) div
{
    background-image: url('img/radiokielce.png');
    background-size: 150px;
    padding: 3px 0;
    background-color: black;
}

.postMedia:nth-child(4) div
{
    background-image: url('img/polskazbrojna.png');
    background-size: 150px;
}

.postMedia:nth-child(5) div
{
    background-image: url('img/hipoalergiczni.png');
    background-size: 150px;
}

.postMedia:nth-child(6) div
{
    background-image: url('img/radioplus.png');
}

.postMedia h3
{
    font-size: 1.3rem;
    color: rgba(10, 73, 193, 1);
    font-weight: normal;
}

.postMedia h4
{
    font-size: 0.9rem;
    color: rgb(109, 109, 109);
    font-weight: normal;
}

#Rekomendacje
{
	width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#Rekomendacje h2
{
    font-size: 2.5rem;
    margin-bottom: 25px;
}

#RekomendacjeFlex
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postRekomendacje
{
    width: 16%;
    box-sizing: border-box;
    height: 200px;
    border: 1px solid rgba(200, 200, 200, 0.5);
	border-top-width: 3px;
	border-top-color: rgba(200, 200, 200, 1);
    background-color: white;
    opacity: 0.9;
    transition: box-shadow .5s ease, opacity .5s ease, transform .5s ease, border .5s ease;
    text-align: center;
    padding: 5px;
    z-index: 4;
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 0 0 20px 0;
}

.postRekomendacje:hover
{
    opacity: 1;
    box-shadow: 0 0 10px -3px black;
    cursor: pointer;
    transform: scale(1.05);
    z-index: 5;
	border-color: rgb(10, 73, 193);
}

.postRekomendacje img
{
    width: 100%;
	max-height: 150px;
    margin-bottom: 5px;
}

.postRekomendacje h4
{
    font-size: 0.9rem;
    color: rgb(90, 90, 90);
	font-weight: normal;
}

#stopka
{
	background-color: rgb(26, 26, 26);
	margin-top: 50px;
}

#stopkaSrodek
{
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 0 60px 0;
}

#stopkaSrodek div:hover
{
	cursor: pointer;
}

#copywrite
{
	float: left;
	color: white;
	font-weight: bold;
	margin-right: 10px;
}

#PolitykaPrywatnosci
{
	float: left;
	color: gray;
}

#up
{
	float: right;
	color: gray;
}

@media only screen and (max-width: 1000px)
{
    #TurystykaPolska h2
    {
        font-size: 3rem;
    }
	.postTurystykaPolska
	{
		width: 49%;
		height: 500px;
	}
	.postTurystykaPolska img
	{
		height: 65%;
	}
	.postTurystykaMiedzynarodowa
	{
		width: 49%;
		height: 500px;
	}
	.postTurystykaMiedzynarodowa img
	{
		height: 65%;
	}
	#TurystykaMiedzynarodowaPosty
	{
		float: none;
		width: 100%;
		clear: both;
    }
    #TurystykaMiedzynarodowa h2
    {
        font-size: 3rem;
    }
	#TurystykaIkony
	{
		float: none;
		width: 100%;
		clear: both;
	}
	#TurystykaIkony article
	{
		width: 49%;
		box-sizing: border-box;
	}
	.postRaporty
	{
		width: 49%;
		height: 500px;
	}
	.postRaporty img
	{
		height: 65%;
	}
	.postAnalizy
	{
		width: 49%;
		height: 500px;
	}
	.postAnalizy img
	{
		height: 65%;
	}
	#Raporty
	{
		float: none;
		width: 100%;
		clear: both;
	}
    #Raporty h2
    {
        text-align: center;
        font-size: 3rem;
    }
	#Analizy
	{
		float: none;
		width: 100%;
		clear: both;
    }
    #Analizy h2
    {
        text-align: center;
        font-size: 3rem;
        margin-top: 3rem;
    }
	#Ikony
	{
		display: block;
	}
	#Ikony article
	{
		width: 100%;
		clear: both;
		box-sizing: border-box;
		margin-bottom: 25px;
	}
	#Szkolenia
	{
		width:100%;
    }
    #Szkolenia h2
    {
        text-align: center;
        font-size: 3rem;
    }
	#Bezpieczenstwo
	{
		width: 100%;
    }
    #Bezpieczenstwo h2
    {
        text-align: center;
        font-size: 3rem;
        margin-top: 3rem;
    }
	#nowePosty .post
	{
		width: 100%;
		max-width: 100%;
		margin-bottom: 40px;
		height: 600px;
		opacity: 1;
	}
	#nowePosty .post:nth-child(1)
	{
		width: 100%;
		max-width: 100%;
		order: 1;
		height: 600px;
	}
	#nowePosty .post img
	{
		height: 75%;
	}
	#nowePosty .post h3, #nowePosty .post:nth-child(1) h3
	{
		font-weight: bold;
		font-size: 1.5rem;
	}
	#MediaONas
	{
		width: 100%;
		float: none;
		clear: both;
    }
	#Facebook
	{
		width: 100%;
		float: none;
		clear: both;
	}
	#RekomendacjeFlex
	{
		flex-wrap: wrap;
	}
	.postRekomendacje
	{
		width: 33%;
	}
	#statystykaFlex
	{
		flex-wrap: wrap;
	}
	.statystyka
	{
		width: 49%;
		margin-bottom: 25px;
	}
	#logo
	{
		height: 250px;
	}
	.tytul
	{
		text-align: center;
        margin: 0 auto;
	}
	.menu
	{
		display: none;
    }
    hr
    {
        margin: 100px 0;
    }
    #Facebook h2
    {
        font-size: 3rem;
        margin-top: 3rem;
    }
    #Rekomendacje h2
    {
        font-size: 3rem;
    }
    #belkaGora
    {
        height: 6rem;
    }
    #Szkolenia ul>li
    {
        padding: 20px 0;
        margin: 10px 0;
        font-size: 1.5rem;
    }
    #Szkolenia ul>li>ol>li
    {
        padding: 20px 0;
        margin: 10px 6px;
    }
    .fb-page
    {
        width: 500px;
    }
}